<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.tgb.dao.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="userManagerBase" class="com.tgb.manager.UserManagerImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean name="userManager" parent="transactionProxy">
        <property name="target" ref="userManagerBase"></property>
    </bean>
    
    
<!-- Teacher is dynameic igore setings -->
<!-- Teacher 类是动态 ，省备备置 -->

<!-- <bean id="teacherDao" class="com.tgb.dao.TeacherDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="teacherManagerBase" class="com.tgb.manager.TeacherManagerImpl">
        <property name="teacherDao" ref="teacherDao"></property>
    </bean>

    <bean name="teacherManager" parent="transactionProxy">
        <property name="target" ref="teacherManagerBase"></property>
    </bean> -->
</beans>
